<form action="/update" method="POST">
	<input type='text' value='<%=data[0].username%>' name='username'>
	<input type='hidden' value='<%=data[0].id%>' name='userId'>
	<input type='text' value='<%=data[0].password%>' name='password'>
	<input type='submit' value='Update'>
</form>
